.page-header {
    font-size: 3em;
  }

.about-me {
    display: flex;
    flex-direction: column;
    column-count: 1;
    align-items: center;
    margin: 0em 15em 0em 15em;
  }

  .profile-Photo {
    width: 50vw;
    height: auto;
  }

@media screen and (max-width: 900px){
 .about-me {
    margin:0;
    padding-left:20px;
    padding-right:20px;
 }
}

.contact-info {
    display: flex;
    flex-direction: column;
    column-count: 1;
    align-items: center;
    margin: 15em 15em 0em 15em;
}
