.body {

    line-height: 1.5;
    font-weight: 400;
    color-scheme: light dark;
    color: rgba(100, 99, 99, 0.87);
    background-color:rgb(11, 12, 12);
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
  }
  
  .page-header {
    font-size: 3em;
  }
  
  @media screen and (max-width: 900px){
      button {
        width: 50%;
        text-align: center;
        color: white;
      }
  }

  .nav-tabs {
    margin: auto;
    width: 50%;
    border: 3px solid rgb(6, 8, 6);
    padding: 10px;
  }

  .header {
    text-align: center;
  }

  :root {
    margin: auto;
    width: 100%;
    height: 100%;

    padding: 10px;
  }

  .header {
    font-style: italic;
  }

  .footer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    margin-top: 5%;
    margin-bottom: 1%;
    border: 3px solid rgb(6, 8, 6);
    padding: 1%;
  }